{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "cover 99.5%"
          ]
        }
      }
    ],
    [
      "@babel/preset-react"
    ]
  ]
}
