body {
    font-family: 'Quicksand', sans-serif;
    background: lightblue;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav {
    display: block;
    background-color: #4577ED;
    margin: 0;
    text-align: center;
    font-size: 0;
}

nav li {
    font-size: 16px;
    position: relative;
    display: inline-block;
}

nav a {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    transition: background-color 500ms;
    white-space: nowrap;
}

nav a:hover {
    background-color: #3255a7;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #4577ED;
}

.submenu::before {
    display: block;
    padding: 0 10px;
    position: absolute;
    top: -50px;
    left: 0;
    height: 50px;
    background-color: #4577ED;
    line-height: 50px;
    color: white;
}

.submenu:hover::before {
    transition: all 0.5s ease-in-out;
    background-color: #3255a7;
}

.oregano::before {
    content: "Oregano";
}

.tymianek::before {
    content: "Tymianek";
}

.rozmaryn::before {
    content: "Rozmaryn";
}

nav li:hover .submenu {
    display: block;
}

.submenu a {
    display: block;
}

.submenu li {
    width: 100%; /* dodane, żeby submenu nie wystawało poza obrys menu - prawidłowo? */
}