body {
  font-family: 'Nunito', sans-serif;
}


section.buttons .row {
  display: inline-flex;
  justify-content: space-between;
  width: 400px;
}

.fa {
  font-size: 100px;
  width: 100px;
  height: 100px;
  margin: 10px;
  color: white;
}

.fa:hover {
  color: #2e302f;
}

.btn {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: cornflowerblue;
}

#output {
  margin: auto 10px;
  width: 400px;
  text-align: center;
}

section.result .row {
  text-align: start;
}

section.result .row div {
  display: inline-block;
  height: 100%;
}

