* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: cornflowerblue;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.header__nav ul {
    list-style: none;
}

.header__nav li {
    margin-left: 1em;
    background-color: #3255a7;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

.cards__card {
    min-width: 200px;
    min-height: 50px;
    padding: 20px;
    border: solid 1px white;
    text-align: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.footer .container {
    display: flex;
    justify-content: stretch;
}

.footer__element:nth-of-type(1) {
    background-color: #C8D197;
}

.footer__element:nth-of-type(2) {
    background-color: #DB5A3C;
    flex-grow: 2;
}

.footer__element:nth-of-type(3) {
    background-color: #F5DE8C;
}