body {
    font-family: sans-serif;
    background-color: darkgrey;
}

.container {
    height: 200px;
    width: 200px;
    margin: 200px auto;
    perspective: 800px;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    animation: rotate 10s linear infinite;
    transform-style: preserve-3d;
}

.wall {
    position: absolute;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    font-weight: bold;
    color: darkslategrey;
    opacity: .7;
}

.front {
    background-color: red;
    transform: rotateY(0deg) translateZ(100px);
}

.back {
    background-color: orange;
    transform: rotateY(180deg) translateZ(100px);

}

.top {
    background-color: yellow;
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    background-color: green;
    transform: rotateX(-90deg) translateZ(100px);
}

.left {
    background-color: white;
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    background-color: dodgerblue;
    transform: rotateY(90deg) translateZ(100px);
}

@keyframes rotate {
    0%   { transform: rotate3d(1,1,1,0deg); }
    100% { transform: rotate3d(1,1,1,360deg); }
}
