header {
    background-color: #2e302f;
    margin: 0;
    height: 50px;
    padding: 0 160px;
}

header>nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

header img {
    margin-top: 10px;
}

/*header>nav ul:before,*/
/*header>nav ul:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/

/*header>nav:before,*/
/*header>nav:after {*/
    /*content: "";*/
    /*display: table;*/
    /*clear: both;*/
/*}*/

header li {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    min-width: 70px;

}

header>nav ul>li>a {
    height: 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header>nav ul>li:hover a {
    color: #00b7d8;
}

header>nav ul>li:hover {
    background-color: #BBBBBB;
}