/* HEADER */

header {
    background-color: #2e302f;
    margin: 0;
    height: 50px;
    padding: 0 160px;
}

header>nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

header img {
    margin-top: 10px;
}

header li {
    display: inline-block;
    line-height: 50px;
    height: 50px;
    padding: 0 20px;
    min-width: 70px;

}

header>nav ul>li>a {
    height: 50px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

header>nav ul>li:hover a {
    color: #00b7d8;
}

header>nav ul>li:hover {
    background-color: #BBBBBB;
}

/* HERO */

.hero {
    position: relative;
    background-image: url('background-hero_2.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
}

.hero .slogan {
    background-color: rgba(0,0,0,0.5);
    max-width: 800px;
    color: white;
    float: right;
    margin-top: 100px;
    /* Jako alternatywę do float + margin-top myślałem o czymś takim: */
    /*position: absolute;*/
    /*top: 30%;*/
    /*right: 0;*/
    /* jest preferowany sposób? */
}

.hero .slogan h1 {
    margin: auto 0;
    padding: 15px 180px 15px 40px;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 24px;
    font-weight: 100;

}

.hero .slogan h1 bold {
    font-weight: 700;
}

.hero .dots {
    position: absolute;
    bottom: 20px;
    left: 45%;
    max-width: 150px;
    width: 150px;
    list-style-type: none;
    display: block;
    margin: auto 0;
    padding: 0;
}

.hero .dots li {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #81807e;
    margin: 0 10px;
}

.hero .dots li:hover {
    background-color: #ffffff;
}
