body {
    font-family: sans-serif;
    background-color: darkgrey;
}

.container {
    height: 200px;
    width: 200px;
    margin: 200px auto;
    perspective: 800px;
}

.cube {
    position: relative;
    width: 200px;
    height: 200px;
    /*animation: rotate 10s linear infinite;*/
    transform-style: preserve-3d;
    transform: rotateZ(-90deg);
}

.container:hover .cube {
    transition: transform 2s;
    transform: translateZ(-100px) rotateY(90deg) rotateZ(0deg);
}

.wall {
    position: absolute;
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    font-weight: bold;
    color: darkslategrey;
    opacity: .7;
}

.front {
    background-color: red;
    transform: rotateY(0deg) translateZ(100px);
    transform: rotateY(0deg) translateZ(100px);
}

.back {
    background-color: orange;
    transform: rotateY(180deg) translateZ(-100px);
    transform: rotateY(180deg) translateZ(100px);

}

.top {
    background-color: yellow;
    transform: rotateX(90deg) translateY(-100px);
    transform: rotateX(90deg) translateZ(100px);
}

.bottom {
    background-color: green;
    transform: rotateX(-90deg) translateY(100px);
    transform: rotateX(-90deg) translateZ(100px);
}

.left {
    background-color: white;
    transform: rotateY(-90deg) translateX(-100px);
    transform: rotateY(-90deg) translateZ(100px);
}

.right {
    background-color: dodgerblue;
    transform: rotateY(90deg) translateX(100px);
    transform: rotateY(90deg) translateZ(100px);
}

/*@keyframes rotate {*/
    /*0% { transform: rotateY(120deg) rotateX(0);}*/
    /*100% { transform: rotateY(480deg) rotateX(360deg); }*/
    /*!*0% { transform: rotateY(0);}*!*/
    /*!*100% { transform: rotateY(360deg);}*!*/
    /*!*0% {transform: rotate3d(0, 0, 0, 0deg);}*!*/
    /*!*1000% {transform: rotate3d(1, 2, 3, 360deg);}*!*/
/*}*/