$font: "Nunito", Helvetica, Sans-Serif;
$color-dark-grey: #202020;
* {
  box-sizing: border-box;
}

body {
  font-family: $font;
  background-color: #BBBBBB;
}

.carousel {
  background-color: #BBBBBB;
  min-height: 250px;
  height: 50vh;
  width: 100%;
}

.carousel__container {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  background-size: cover;
}

.carousel-wrapper {
  position: relative;
}

.btn {
  color: $color-dark-grey;
  width: max-content;
  height: 30px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 30px;
}

.btn--restart {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: #FFFFFF;
  &:hover {
    background-color: $color-dark-grey;
    color: #FFFFFF;
  }
}

}
